apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-deployment
spec:
  replicas: 4
  selector:
    matchLabels:
      red-eye: effect
  template:
    metadata:
      labels:
        red-eye: effect
    spec:
      containers:
        - name: server
          image: samjamesjazz/red-eye-effect:latest
          resources:
            limits:
              memory: "256Mi"
              cpu: "500m"
          ports:
            - containerPort: 3000
